
@{
    ViewData["Title"] = "Stats";
}
<!---------------------------------Stats----------------------------------------->

<div class="col-10 table-content">
    <div class="stats-cards-holder">
        <div class="stats-card center">
            <p class="stats-font num">23454</p>
            <p class="light-text">Markers</p>
        </div>

        <div class="stats-card">
            <p class="stats-font num">454</p>
            <p class="light-text">Admin Accounts</p>
        </div>

        <div class="stats-card">
            <p class="stats-font num">454</p>
            <p class="light-text">KM Travelled</p>
        </div>
    </div>

    <div class="graph-container">
        <div class="graph">

        </div>
    </div>
</div>

