@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor sessionAccessor;
@{
    int roleID = 0;             //  assume 0 in case of guest (before users has logged in)

    if (Convert.ToInt32(sessionAccessor.HttpContext.Session.GetInt32("roleID")) > 0)
    {
        roleID = Convert.ToInt32(sessionAccessor.HttpContext.Session.GetInt32("roleID"));
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  | Pay Marker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="Admin/plugins/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="Admin/plugins/jquery/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Fugaz One' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/3051aeb07b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/main2.css">
    <link rel="stylesheet" type="text/css" href="~/css/cards.css">
    <link rel="stylesheet" type="text/css" href="~/css/NewLayout.css">
    <link rel="stylesheet" type="text/css" href="~/css/reports.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="Admin/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="Admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="Admin/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="Admin/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->


            <!-- Favicon -->
        <link rel="shortcut icon" type="image/icon" href="color-logo.png"/>
        <!-- Custom styling -->
        <link rel="stylesheet" type="text/css" href="~/css/NewLayout.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="main-container">
        <div class="">
            <!-- Side Navigation -->
            <nav class="sidenav">
                <!-- Side Navigation Logo -->
                <a class="nav-logo" href="index.html"><img src="./images/logo.svg"></a>

                <!-- Side Navigation List -->
                <div class="nav-list">
                    <a class="nav-list-item active" href="index.html"><img class="icon active" src="./images/dash-icon.svg">Dashboard</a>

                    <div class="drop-down-parent-container">
                        <button class="dropdown-btn">
                            <img class="icon" src="./images/admIcon.svg">
                            <a class="nav-list-item" href="index.html">Administration</a>
                            <img class="chevron" src="./images/chevron-down.svg">
                        </button>

                        <div class="dropdown-container">
                            <a class="nav-list-item" href="#">Accounts</a>
                            <a class="nav-list-item" href="#">Markers List</a>
                            <a class="nav-list-item" href="#">Marking Centers</a>
                        </div>

                        <button class="dropdown-btn">
                            <img class="icon" src="./images/Reports.svg">
                            <a class="nav-list-item" href="#">Reports</a>
                            <img class="chevron" src="./images/chevron-down.svg">
                        </button>

                        <div class="dropdown-container">
                            <a class="nav-list-item" href="#">Distance Report</a>
                            <a class="nav-list-item" href="#">Access Track</a>
                        </div>

                        <a class="nav-list-item" href="#"><img class="icon" src="./images/timeIcon.svg">History</a>
                    </div>
                    <a class="nav-list-item set-margin-top" href="#"><img class="icon" src="./images/setIcon.svg">Settings</a>
                </div>
                <!-- End Side Navigation List -->
            </nav>
            <!-- End Side Navigation -->
        </div>
        <!-- End Side Navigation -->
        <div class="content">
            <div class="row">
                @RenderBody()

                <div class="col-4">
                    <!-- main Profile Container -->
                    <div class="profile-section">
                        <!-- Profile Container -->
                        <div class="profile">
                            <div class="log-out">
                                <p>Logout</p>
                            </div>
                            <div class="person-container">
                                <div class="person-img-container">
                                    <img class="person-img">
                                </div>

                                <div class="person-details">
                                    <p class="person-name">Adelaide Mafokane</p>
                                    <p class="person-role">Super Admin</p>
                                </div>

                                <div class="profile-summary">
                                    <div class="profile-summary-item">
                                        <div class="summ-icon-holder">
                                            <img class="summ-icon" src="./images/pro-icon-edit.svg">
                                        </div>
                                        <p class="summ-name">Edits</p>
                                    </div>
                                    <div class="profile-summary-item">
                                        <div class="summ-icon-holder">
                                            <img class="summ-icon" src="./images/profile-task-icon.svg">
                                        </div>
                                        <p class="summ-name">Tasks</p>
                                    </div>
                                    <div class="profile-summary-item">
                                        <div class="summ-icon-holder">
                                            <img class="summ-icon" src="./images/profile-mess-icon.svg">
                                        </div>
                                        <p class="summ-name">Messages</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Profile Container -->
                        <!-- Tasks Container -->
                        <div class="task-container">
                            <div class="main-title-container">
                                <p class="task-main-title">Tasks</p>
                                <p class="view-all">View All</p>
                            </div>

                            <!-- Task -->
                            <div class="task-holder">
                                <div class="task">
                                    <div class="task-icon">
                                        <img src="./images/pro-icon.svg">
                                    </div>
                                    <div class="task-content">
                                        <p class="task-title">Zi-Ipsums ezi</p>
                                        <p class="task-desc">Laboris nisi ut aliquip ex ea commodo consequat</p>
                                    </div>
                                </div>
                                <div class="time-stamp">
                                    <p class="time">24 Feb 2020</p>
                                </div>
                            </div>
                            <!-- End Task -->
                            <!-- Task -->
                            <div class="task-holder">
                                <div class="task">
                                    <div class="task-icon">
                                        <img src="./images/prof-icon.svg">
                                    </div>
                                    <div class="task-content">
                                        <p class="task-title">Zi-Ipsums ezi</p>
                                        <p class="task-desc">Laboris nisi ut aliquip ex ea commodo consequat</p>
                                    </div>
                                </div>
                                <div class="time-stamp">
                                    <p class="time">24 Feb 2020</p>
                                </div>
                            </div>
                            <!-- End Task -->
                            <!-- Task -->
                            <div class="task-holder">
                                <div class="task">
                                    <div class="task-icon">
                                        <img src="./images/pro-icon.svg">
                                    </div>
                                    <div class="task-content">
                                        <p class="task-title">Zi-Ipsums ezi</p>
                                        <p class="task-desc">Laboris nisi ut aliquip ex ea commodo consequat</p>
                                    </div>
                                </div>
                                <div class="time-stamp">
                                    <p class="time">24 Feb 2020</p>
                                </div>
                            </div>
                            <!-- End Task -->
                        </div>
                        <!-- End Tasks Container -->
                    </div>
                    <!-- main Profile Container -->
                </div>
            </div>
            <!-- End main Content Container -->
        </div>

        </div>






        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/dropDown.js" asp-append-version="true"></script>
        <!-- Content Header (Page header) -->
        <!-- /.content-header -->
        <!-- Main content -->
        <!-- Small boxes (Stat box) -->
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <!-- Bootstrap 4 -->
        <script src="Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="Admin/plugins/chart.js/Chart.min.js"></script>
        <!-- Sparkline -->
        <script src="Admin/plugins/sparklines/sparkline.js"></script>
        <!-- JQVMap -->
        <script src="Admin/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="Admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="Admin/plugins/jquery-knob/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="Admin/plugins/moment/moment.min.js"></script>
        <script src="Admin/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Summernote -->
        <script src="Admin/plugins/summernote/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="Admin/dist/js/adminlte.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="Admin/dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="Admin/dist/js/demo.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>