@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor sessionAccessor;
@{
    int roleID = 0;             //  assume 0 in case of guest (before users has logged in)

    if (Convert.ToInt32(sessionAccessor.HttpContext.Session.GetInt32("roleID")) > 0)
    {
        roleID = Convert.ToInt32(sessionAccessor.HttpContext.Session.GetInt32("roleID"));
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Markers GPS Coordiantes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/HomeTheme/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/HomeTheme/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/HomeTheme/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fugaz One' rel='stylesheet'>
    <link rel="stylesheet" href="~/js/tableexport.min.js" />
    <link rel="stylesheet" href="~/css/tableexport.css" />
    <link rel="stylesheet" href="~/css/tableexport.min.css" />
    <script src="https://kit.fontawesome.com/3051aeb07b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/main2.css">
    <link rel="stylesheet" type="text/css" href="~/css/cards.css">
    <link rel="stylesheet" type="text/css" href="~/css/reports.css">


    <script src="Admin/plugins/jquery/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="Admin/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="Admin/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="Admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="Admin/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="Admin/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <nav class="sticky">
        <div class="logo">
            <a href="index.html"><img class="logo" src="~/Images/logo.svg"></a>
        </div>
       
        <div class="header-title ">
            <p class="blu-title text-center bold" style="
                float: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            ">@ViewData["Title"]</p>
        </div>
    </nav>

    <div class="row space">

        <!---------------------------------Side Nav-------------------------------------->
        @*<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>*@
        <div id="wrapper" class="col-2 side-nav-container no-padding toggled">
            <div class="side-nav-details">
                <P class="bolder bigger-font">GDE-ADMIN</P>
                <P class="small-text">admin@example.com</P>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="side-nav">
                <ul class="side-nav-list">
                    @if (roleID == 0)
                    {
                        <li class="list-item">
                            <a class="list-item" href="~/Login/"></a>
                        </li>
                    }
                    else
                    {
                        <li class="list-item">
                            <a class="list-item fa fa- fa-power-off" href="~/Login/SignOut/"> Sign Out</a>
                        </li>
                    }
                    <li class="list-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                    @if (roleID == 3)
                    {
                        <li class="list-item"><a asp-controller="Users" asp-action="Index">Accounts</a></li>
                        <li class="list-item"><a asp-controller="SuperAdmin" asp-action="Index">Makers List</a></li>
                        <li class="list-item"><a asp-controller="MarkersReport" asp-action="Index">Distance Report</a></li>
                        <li class="list-item"><a asp-controller="Centers" asp-action="Index">Centers</a></li>
                        <li class="list-item"><a asp-controller="SuperAdmin" asp-action="Import">Import Markers</a></li>
                        <li class="list-item"><a asp-controller="CenterMangers" asp-action="Create">Assign Center</a></li>
                        <li class="list-item"><a asp-controller="group" asp-action="Index">Access Infomation</a></li>
                    }

                    @if (roleID == 2)
                    {
                        <li class="list-item"><a asp-controller="MarkersGpscoordinate" asp-action="Index">Makers List</a></li>
                        <li class="list-item"><a asp-controller="CenterMangers" asp-action="Index">Marking Centers</a></li>
                    }

                    @if (roleID == 1)
                    {
                        <li class="list-item"><a asp-controller="CenterMangers" asp-action="Index">Marking Centers</a></li>

                    }
                </ul>
            </div>
        </div>


        @RenderBody()

    </div>

        @*<div class="container-fullwidth">


        </div>*@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- Content Header (Page header) -->
        <!-- /.content-header -->
        <!-- Main content -->
        <!-- Small boxes (Stat box) -->
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>$.widget.bridge('uibutton', $.ui.button)</script>
        <!-- Bootstrap 4 -->
        <script src="Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="Admin/plugins/chart.js/Chart.min.js"></script>
        <!-- Sparkline -->
        <script src="Admin/plugins/sparklines/sparkline.js"></script>
        <!-- JQVMap -->
        <script src="Admin/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="Admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="Admin/plugins/jquery-knob/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="Admin/plugins/moment/moment.min.js"></script>
        <script src="Admin/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Summernote -->
        <script src="Admin/plugins/summernote/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="Admin/dist/js/adminlte.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="Admin/dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="Admin/dist/js/demo.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>