@model Markers_GPS_Coordiantes.Data.Center

@{
    ViewData["Title"] = "Edit";
}

<hr />

    <div class="col-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CenterId" />
            <input class="edit-input-tag short " type="text" asp-for="CenterName" placeholder="Center Name"><br>
            <input class="edit-input-tag short " type="text" asp-for="CenterNumber" placeholder="Center Number"><br>
            <select asp-for="CityId" class="edit-input-tag short" asp-items="ViewBag.CityId">
                <option value="" disabled selected>City</option>
            </select><br>

            <input class="edit-input-tag short " type="text" asp-for="Longitude" placeholder="Longitude"><br>
            <input class="edit-input-tag short " type="text" asp-for="Latitude" placeholder="Latitude"><br>

            <div class="form-group">

                <input asp-for="DeletedDate" type="hidden"class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
          
                <input asp-for="DeletedByUsersId"type="hidden" class="form-control" />
                <span asp-validation-for="DeletedByUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
        
                <input asp-for="LastModifiedByUsersId" type="hidden"class="form-control" />
                <span asp-validation-for="LastModifiedByUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
          
                <input asp-for="LastModifiedDate" type="hidden"class="form-control" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
         
                <input asp-for="CreatedByUsersId" type="hidden"class="form-control" />
                <span asp-validation-for="CreatedByUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
           
                <input asp-for="CreateDate"type="hidden" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>


