@model Markers_GPS_Coordiantes.Data.Center

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CenterId" />
         
            <div class="form-group">
                <label asp-for="CenterName" class="control-label"></label>
                <input asp-for="CenterName" class="form-control" />
                <span asp-validation-for="CenterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenterNumber" class="control-label"></label>
                <input asp-for="CenterNumber" class="form-control" />
                <span asp-validation-for="CenterNumber" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedByUsersId" class="control-label"></label>
                <input asp-for="DeletedByUsersId" class="form-control" />
                <span asp-validation-for="DeletedByUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedByUsersId" class="control-label"></label>
                <input asp-for="LastModifiedByUsersId" class="form-control" />
                <span asp-validation-for="LastModifiedByUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedDate" class="control-label"></label>
                <input asp-for="LastModifiedDate" class="form-control" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByUsersId" class="control-label"></label>
                <input asp-for="CreatedByUsersId" class="form-control" />
                <span asp-validation-for="CreatedByUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


