
@{
    ViewData["Title"] = "Import";
}

    <section style="padding-top: 90px">
        <h1>Import</h1>

        <form asp-action="Import" asp-controller="Centers" method="post" enctype="multipart/form-data">
            <input name="formFile" type="file" />
            <input type="submit" value="Upload" />
        </form>
    </section>

