@model Markers_GPS_Coordiantes.Data.Center

@{
    ViewData["Title"] = "Add Marking Center";
}


    <div class="col-10"style="padding-top:20px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input class="edit-input-tag short " type="text" asp-for="CenterName" placeholder="Center Name"><br>
            <input class="edit-input-tag short " type="text" asp-for="CenterNumber" placeholder="Center Number"><br>
            <select asp-for="Scanner" class="edit-input-tag short" type="text">
                <option value="" disabled selected>Select Scanner</option>

                <option value="Education Roaming 1">Education Roaming 1</option>
                <option value="Education Roaming 2">Education Roaming 2</option>
                <option value="Education Roaming 3">Education Roaming 3</option>
                <option value="Education Roaming 4">Education Roaming 4</option>
                <option value="Education Roaming 5">Education Roaming 5</option>
                <option value="Education Roaming 6">Education Roaming 6</option>
                <option value="Education Roaming 7">Education Roaming 7</option>
                <option value="Education Roaming 8">Education Roaming 8</option>
                <option value="Education Roaming 9">Education Roaming 9</option>
                <option value="Education Roaming 10">Education Roaming 10</option>
            </select><br>

            <input class="edit-input-tag short " type="text" asp-for="Longitude" placeholder="Longitude"><br>
            <input class="edit-input-tag short " type="text" asp-for="Latitude" placeholder="Latitude"><br>

            <div class="form-group" style="padding-top:20px">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>


