@model Markers_GPS_Coordiantes.Data.CenterManger

@{
    ViewData["Title"] = "Assign User to Center";
}


    <div class="col-10"style="padding-top:20px">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select asp-for="UsersId" class="edit-input-tag short" asp-items="ViewBag.UsersId">
                <option value="" disabled selected>Select Center Manager</option>
            </select>
            <select asp-for="CenterId" class="edit-input-tag short left" asp-items="ViewBag.CenterId">
                <option value="" disabled selected>Center</option>
            </select>
            <div class="form-group" style="padding-top:20px">
                <input type="submit" value="Assign" class="btn btn-primary " />
                
            </div>
        </form>
    </div>


<div>
  
</div>

