@model Markers_GPS_Coordiantes.Data.Users

@{
    ViewData["Title"] = "Add User";
}
<hr />

<div class="col-10">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="section-title flex">
            <div class="flex">
                <p class="blu-title bold">Add User</p>
             
            </div>
        </div>
        <div>
            <input class="edit-input-tag short" type="text" asp-for="Loginname" placeholder="Login Name">
            <input class="edit-input-tag short left" type="text" asp-for="Password" placeholder="Password"><br>
            <input class="edit-input-tag short " type="text" asp-for="Firstname" placeholder="Firstname">
            <input class="edit-input-tag short left" type="text" asp-for="Lastname" placeholder="Lastname"><br>
           
            
            <select asp-for="GenderId" class="edit-input-tag short  " asp-items="ViewBag.GenderId">
                <option value="" disabled selected>Gender</option>
            </select>


             <select asp-for="RoleId" class="edit-input-tag short left" asp-items="ViewBag.RoleId">
             <option value="" disabled selected>Role</option>
             </select><br>
             <select asp-for="CenterId" class="edit-input-tag short" asp-items="ViewBag.CenterId">
                 <option value="" disabled selected>Center</option>
              </select>

            <input class="edit-input-tag short left " type="text" asp-for="EmailAddress" placeholder="EmailAddress"><br>
            <input class="edit-input-tag short " type="text" asp-for="MobileNo" placeholder="MobileNo">
            <input class="edit-input-tag short left" type="text" asp-for="Telephone" placeholder="Telephone"><br>
            <input class="edit-input-tag short " type="text" asp-for="Displayname" placeholder="Displayname">
            <input class="edit-input-tag short left" type="text" asp-for="PostalAddress" placeholder="PostalAddress"><br>
            <input class="edit-input-tag short " type="text" asp-for="PhysicalAddress" placeholder="PhysicalAddress">
        </div>



        @*<div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CenterId" class="control-label"></label>
                <select asp-for="CenterId" class="form-control" asp-items="ViewBag.CenterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Loginname" class="control-label"></label>
                <input asp-for="Loginname" class="form-control" />
                <span asp-validation-for="Loginname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Displayname" class="control-label"></label>
                <input asp-for="Displayname" class="form-control" />
                <span asp-validation-for="Displayname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalAddress" class="control-label"></label>
                <input asp-for="PostalAddress" class="form-control" />
                <span asp-validation-for="PostalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalAddress" class="control-label"></label>
                <input asp-for="PhysicalAddress" class="form-control" />
                <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
            </div>*@
        <div class="form-group" style="padding-top:20px">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>

        </div>
    </form>
</div>



