.acc {
    padding: 2.5% 10px 0 2% !important;
    width: 79% !important;
}

.col-10{
    overflow:auto;
} 

.acc-top {
    display: flex;
    /* justify-content: space-between; */
}

.margin-right {
    margin-right: 3.5%;
}

.acc-search-bar {
    height: 39px;
}

.white-text{
    color: #fff !important;
}

.grey-text {
    color: #535D67 !important;
}

.butt-primary {
    background-color: #535D67;
    border: 2px solid #535D67;
    padding: 8px 20px;
    color: #fff !important;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    min-width: 120px;
}

.butt-secondary {
    background-color: #fff;
    border: 2px solid #535D67;
    padding: 8px 10px;
    color: #000;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    width: 150px;
}

.table-container {
    width: 100%;
    margin-top: 4.5%;
}

.table td, .table th {
    padding: 0rem;
    vertical-align: unset !important;
    border-top: 1px solid #dee2e6;
}

.table {
    border-collapse: collapse;
   
}

.table-head-container {
    background-color: #535D67;
    width: 100%;
}

.table-head {
    text-align: left;
    font-weight: 500 !important;
    padding: 20px 15px !important;
    color: #fff;
    font-size: 14px
}

.table-data {
    font-weight: 100;
    font-size: 13px;
    padding: 0px 5px;
}

.td-icon {
    display: flex;
    padding-left: 5px;
}

.white {
    background-color: #fff;
}

.blue {
    background-color: #E7F3F8;
}

.no-bootstrap {
    padding: 0rem;
    vertical-align: unset;
    border-top: none;
}
