@model Markers_GPS_Coordiantes.Data.Users

@{
    ViewData["Title"] = "Edit";
}


<hr />

    <div class="col-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="section-title flex">
                <div class="flex">
                    <p class="blu-title bold"></p>

                </div>
            </div>
            <input type="hidden" asp-for="UsersId" /><br>

            <input class="edit-input-tag short" type="text" asp-for="Loginname" placeholder="Login Name">
            <input class="edit-input-tag short left" type="text" asp-for="Password" placeholder="Password"><br>
            <input class="edit-input-tag short " type="text" asp-for="Firstname" placeholder="Firstname">
            <input class="edit-input-tag short left" type="text" asp-for="Lastname" placeholder="Lastname"><br>

            <select asp-for="GenderId" class="edit-input-tag short  " asp-items="ViewBag.GenderId">
                <option value="" disabled selected>Gender</option>
            </select>


            <select asp-for="RoleId" class="edit-input-tag short left" asp-items="ViewBag.RoleId">
                <option value="" disabled selected>Role</option>
            </select><br>

            <select asp-for="CenterId" class="edit-input-tag short " asp-items="ViewBag.CenterId">
                <option value="" disabled selected>Center</option>
            </select>





            <input class="edit-input-tag short left " type="text" asp-for="EmailAddress" placeholder="EmailAddress"><br>
            <input class="edit-input-tag short " type="text" asp-for="MobileNo" placeholder="MobileNo">
            <input class="edit-input-tag short left" type="text" asp-for="Telephone" placeholder="Telephone"><br>
            <input class="edit-input-tag short " type="text" asp-for="Displayname" placeholder="Displayname">
            <input class="edit-input-tag short left" type="text" asp-for="PostalAddress" placeholder="PostalAddress"><br>
            <input class="edit-input-tag short " type="text" asp-for="PhysicalAddress" placeholder="PhysicalAddress">
           
           <input asp-for="LastModifiedDate" class="edit-input-tag short left"placeholder="LastModifiedDate" />
            
                <input asp-for="CreateDate" class="edit-input-tag" placeholder="CreateDate"/>
            
           
            <div class="form-group"style="padding-top:20px">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>




