@model Markers_GPS_Coordiantes.Data.MarkersGpscoordinates

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MarkersGpscoordinates</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CenterId" class="control-label"></label>
                <select asp-for="CenterId" class ="form-control" asp-items="ViewBag.CenterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsersId" class="control-label"></label>
                <select asp-for="UsersId" class ="form-control" asp-items="ViewBag.UsersId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CentreNumber" class="control-label"></label>
                <input asp-for="CentreNumber" class="form-control" />
                <span asp-validation-for="CentreNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentreName" class="control-label"></label>
                <input asp-for="CentreName" class="form-control" />
                <span asp-validation-for="CentreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper" class="control-label"></label>
                <input asp-for="Paper" class="form-control" />
                <span asp-validation-for="Paper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalAddress" class="control-label"></label>
                <input asp-for="PhysicalAddress" class="form-control" />
                <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersalNumber" class="control-label"></label>
                <input asp-for="PersalNumber" class="form-control" />
                <span asp-validation-for="PersalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTelephone" class="control-label"></label>
                <input asp-for="WorkTelephone" class="form-control" />
                <span asp-validation-for="WorkTelephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTelephone" class="control-label"></label>
                <input asp-for="HomeTelephone" class="form-control" />
                <span asp-validation-for="HomeTelephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cellphone" class="control-label"></label>
                <input asp-for="Cellphone" class="form-control" />
                <span asp-validation-for="Cellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByUsersId" class="control-label"></label>
                <input asp-for="CreatedByUsersId" class="form-control" />
                <span asp-validation-for="CreatedByUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

