@model Markers_GPS_Coordiantes.TrueView

@{
    ViewData["Title"] = "Add Marking Center";
}
<style>
    .hide {
        display: none;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<div class="col-10" style="padding-top: 20px">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="section-title flex">
            <div class="flex">
                <p class="blu-title bold">APPLICATION</p>
            </div>
        </div>
        <br>
        <div>
            <select asp-for="Subject" class="edit-input-tag short " id="select1">
                <option>Select Subject</option>
                <option value="English">English</option>
                <option value="Geography">Geography</option>
                <option value="Economics">Economics</option>
                <option value="Business Studies">Business Studies</option>
                <option value="Agricultural Sciences">Agricultural Sciences</option>
                <option value=">Life Sciences">Life Sciences</option>
                <option value="Mathematical Literacy">Mathematical Literacy</option>
            </select>
            <select asp-for="Paper" class="edit-input-tag short left" type="text">
                <option value="" disabled selected>Select Paper</option>

                <option value="Paper 1">Paper 1</option>
                <option value="Paper 2">Paper 2</option>
                <option value="Paper 3">Paper 3</option>
            </select>
            <br>

            <div class="hide English box col" style="padding-top:20px">
                <input type="radio" name="tab" asp-for="Language" value="HL"> HL
                <input type="radio" name="tab" asp-for="Language" value="FAL"> FAL
                <input type="radio" name="tab" asp-for="Language" value="HL"> HL
            </div>
        </div>

        <select asp-for="Position" class="edit-input-tag short" type="text">
            <option value="" disabled selected>Select Position</option>
            <option value="Marker">Marker</option>
            <option value="Senior Marker">Senior Marker</option>
            <option value="Deputy Chief Marker">Deputy Chief Marker</option>
        </select>

        <select asp-for="CurrentPosition" class="edit-input-tag short left" type="text">
            <option value="" disabled selected>Select Current Position</option>
            <option value="Chief Marker">Chief Marker (GDE)</option>
            <option value="Internal Moderator (GDE)">Internal Moderator (GDE)</option>
            <option value="National Examination Pane/Umalusi">National Examination Pane/Umalusi</option>
            <option value="Position at DBE/Umalusi">Position at DBE/Umalusi</option>
        </select><br>

        <select asp-for="PracticalSubject" class="edit-input-tag short" type="text">
            <option value="" disabled selected>Select Practical Subject</option>

            <option value="DanceStudies">Dance Studies</option>
            <option value="MusicPractical">Music Practical</option>
            <option value="TechnicalSubjects">Technical Subjects</option>
        </select>
        <br>
        <input class=" col-sm-3  DanceStudies edit-input-tag short" type="text" asp-for="PracticalExamination" placeholder="Indicate Genre">
        <input class=" col-sm-3   MusicPractical edit-input-tag short left" type="text" asp-for="PracticalExamination" placeholder="Indicates Instruments">
        <input class=" col-sm-3   TechnicalSubjects edit-input-tag short left" type="text" asp-for="PracticalExamination" placeholder="Indicate Specialisation">
        <br>


        <div class="section-title margin-top flex">
            <div class="flex">
                <p class="blu-title bold">
                    PERSONAL PARTICULARS
                </p>

            </div>
        </div><br>

        <input class="edit-input-tag short" type="text" asp-for="IdentityNo" placeholder="Identity Number" required>
        <input class="edit-input-tag short left" type="text" asp-for="Persal" placeholder="Persal" id="txtChar" onkeypress="return isNumberKey(event)" required><br>
        <input class="edit-input-tag short " type="text" asp-for="Surname" placeholder="Surname" onkeypress="return onlyAlphabets(event,this);" required">
        <input class="edit-input-tag short left" type="text" asp-for="Initials" placeholder="Initials" onkeypress="return onlyAlphabets(event,this);" required>
        <!-- Default inline 1-->
        @*<select asp-for="Title" class="edit-input-tag short" type="text">
                <option value="" disabled selected>Select Title</option>

                <option value="Mrs">Mrs</option>
                <option value="Mr">Mr</option>
                <option value="Ms">Ms</option>

            </select>*@

        <div class="form-check-inline left">

            <p>Title</p>
            Mrs <input id="Title" name="Title" type="radio" value="Mrs" onclick="show2();" />
            Mr <input id="Title" name="Title" type="radio" value="Mr" onclick="show1();" />
            Ms <input id="Title" name="Title" type="radio" value="Ms" onclick="show1();" />
            <div id="div1" class="hide">
                <input class="edit-input-tag short left" type="text" asp-for="MaidenName" placeholder="Maiden Name" id="my-field">
            </div>
        </div>
        <br>

        `
        <p>Gender</p>
        Male: <input id="Gender" name="Gender" type="radio" value="Male" />

        Female: <input id="Gender" name="Gender" type="radio" value="Female" />




        <select asp-for="Race" class=" edit-input-tag short left" type="text">
            <option value="" disabled selected>Select Race</option>

            <option value="African">African</option>
            <option value="White">White</option>
            <option value="Colored">Colored</option>
            <option value="Indian">Indian</option>
            <option value="Indian">Asian</option>
        </select>
        <br>
        <select asp-for="Nationality" class=" edit-input-tag" type="text">
            <option value="" disabled selected>Select Nationality</option>

            <option value="African">African</option>
            <option value="White">White</option>
            <option value="Colored">Colored</option>
            <option value="Indian">Indian</option>
            <option value="Indian">Asian</option>
        </select>
        <br>
        <input class="edit-input-tag" type="text" asp-for="EmailAddress" placeholder="Email Address" onkeypress="return onlyAlphabets(event,this);"><br>
        <input class="edit-input-tag short" type="text" asp-for="WorkSchool" placeholder="Work/School Number" id="txtChar" onkeypress="return isNumberKey(event)">
        <input class="edit-input-tag short left" type="text" asp-for="TelephoneNo" placeholder="Telephone Number" id="txtChar" onkeypress="return isNumberKey(event)">
        <input class="col-sm-3 edit-input-tag short left" type="text" asp-for="HomeTelephoneNo" placeholder="HomeTelephoneNo" id="txtChar" onkeypress="return isNumberKey(event)">
        <input class="col-sm-3 edit-input-tag short" type="text" asp-for="CellphoneNo" placeholder="CellphoneNo" id="txtChar" onkeypress="return isNumberKey(event)">
        <br>
        <input class=" edit-input-tag short" type="text" asp-for="FaxNo" placeholder="Fax Number" id="txtChar" onkeypress="return isNumberKey(event)">

        <input class="col-sm-3 edit-input-tag short left" type="text" id="address" onblur="checkAddress()" asp-for="ResidentialAddress" placeholder="Residential Address">
        <input class="col-sm-3 edit-input-tag short left" type="text" asp-for="Latitude" placeholder="Latitude" id="lat">
        <input class="col-sm-3 edit-input-tag short left" type="text" asp-for="Longitude" placeholder="Longitude" id="long">
        <input class="col-sm-3 edit-input-tag short left" type="text" asp-for="FullResidentialAddress" placeholder="Full Resident Address" id="fullAddress">
        <script>
            function checkAddress() {
                var geocoder = new google.maps.Geocoder();
                var address = document.getElementById('address').value;

                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === 'OK') {

                        var lat = results[0].geometry.location.lat();
                        var long = results[0].geometry.location.lng();
                        var fullAddress = results[0].formatted_address;


                        document.getElementById("lat").value = lat;
                        document.getElementById("long").value = long;
                        document.getElementById("fullAddress").value = fullAddress;
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlZ8dLRWw3yMzsUdJJR8UfaRzd6YeOrBs">
        </script>
        <input class="col-sm-3 edit-input-tag short left" type="text" asp-for="PostalCode" placeholder="PostalCode" id="txtChar" onkeypress="return isNumberKey(event)">

        <div class="section-title margin-top flex">
            <div class="flex">
                <p class="blu-title bold">CURRENT EMPLOYMENT DETAILS</p>
            </div>
        </div><br>
        <input class=" edit-input-tag short" type="text" asp-for="NameOftheSchoolOffice" placeholder="Name of the School/Office" onkeypress="return onlyAlphabets(event,this);">
        <input class=" edit-input-tag short left" type="text" asp-for="CentreNumber" placeholder="Centre Number" id="txtChar" onkeypress="return isNumberKey(event)">
        <input class="col-sm-3 edit-input-tag short left" type="text" asp-for="District" placeholder="District" onkeypress="return onlyAlphabets(event,this);"><br>
        <select asp-for="EmploymentType" class="edit-input-tag short " type="text">
            <option value="" disabled selected>Select Employment Type</option>
            <option value="GDE Permanent">GDE Permanent</option>
            <option value="GDE Temporary">GDE Temporary</option>
            <option value="Independent School">Independent School</option>
            <option value="SGB Post">SGB Post</option>
            <option value="Other">Other</option>
        </select>

        <select asp-for="CurrentPosition" class=" edit-input-tag short left" type="text">
            <option value="" disabled selected>Select Job Position</option>

            <option value="GDE Permanent">Current Position</option>
            <option value="Educator">Educator</option>
            <option value="Head of Department">Head of Department</option>
            <option value="Deputy Principal">Deputy Principal</option>
            <option value="District Official">District Official</option>
        </select><br>


        <label for="disabledInput" class="col-sm-1 edit-input-tag "><strong>Retiring?</strong></label>
        <div class="custom-control custom-radio custom-control-inline left">
            <input type="radio" class=" col-sm-1 custom-control-input" id="Retiring1" name="Retiring" value="Yes">
            <label class=" col-sm-1 custom-control-label" for="Retiring1">Yes</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="col-sm-1 custom-control-input" id="Retiring2" name="Retiring" value="No">
            <label class="col-sm-1 custom-control-label" for="Retiring2">No</label>
        </div>
        <br>
        <div class="section-title margin-top flex">
            <div class="flex">
                <p class="blu-title bold">QUALIFICATION</p>

            </div>
        </div><br>

        <select asp-for="QualificationDescription" class="col-sm-2  edit-input-tag short " type="text">
            <option value="" disabled selected>Qualification</option>
            <option value="Degree">Degree</option>
            <option value="Diploma">Diploma</option>
            <option value="Additional Single Subject">Additional Single Subject</option>
        </select>

        <input asp-for="QualificationYear " class="col-sm-2 edit-input-tag left" />
        <input class=" col-sm-2 edit-input-tag short left" type="text" asp-for="MojarSubjects" placeholder="Mojar Subjects" id="my-field">
        <input class=" col-sm-2 edit-input-tag short left" type="text" asp-for="CourseLevel" placeholder="Course Level"><br>
        <input class="col-md-4  edit-input-tag  " type="text" asp-for="HighestQualification" placeholder="Highest Qualification relevent to the subject that you are applying for " onkeypress="return onlyAlphabets(event,this);">
        <br>

        <label for="disabledInput" class="col-sm-1 FocusText  "><strong>Level of Degree Qualification </strong></label>

        <div class="custom-control custom-radio custom-control-inline left">
            <input type="radio" class=" col-sm-1 custom-control-input" id="line1" name="LevelOfDegree" value="l">
            <label class=" col-sm-1 custom-control-label" for="line1">
                l
            </label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="col-sm-1 custom-control-input" id="line2" name="LevelOfDegree" value="ll">
            <label class="col-sm-1 custom-control-label" for="line2">ll</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline ">
            <input type="radio" class=" col-sm-1 custom-control-input" id="line3" name="LevelOfDegree" value="ll">
            <label class=" col-sm-1 custom-control-label" for="line3">lll</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="col-sm-1 custom-control-input" id="line4" name="LevelOfDegree" value="Hon">
            <label class="col-sm-1 custom-control-label" for="line4">Hon</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="col-sm-1 custom-control-input" id="line5" name="LevelOfDegree" value="M">
            <label class="col-sm-1 custom-control-label" for="line5">M</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="col-sm-1 custom-control-input" id="line6" name="LevelOfDegree" value="M">
            <label class="col-sm-1 custom-control-label" for="line6">M</label>
        </div>


        <!--Diploma-->
        <label for="disabledInput" class="col-sm-1 FocusText "><strong>Level of Diploma  Qualification </strong></label>
        <div class="custom-control custom-radio custom-control-inline left">
            <input type="radio" class=" col-sm-1 custom-control-input" id="Diplomaline1" name="LevelOfDiploma" value="1">
            <label class=" col-sm-1 custom-control-label" for="Diplomaline1">1</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="col-sm-1 custom-control-input" id="Diplomaline2" name="LevelOfDiploma" value="2">
            <label class="col-sm-1 custom-control-label" for="Diplomaline2">2</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline ">
            <input type="radio" class=" col-sm-1 custom-control-input" id="Diplomaline3" name="LevelOfDiploma" value="3">
            <label class=" col-sm-1 custom-control-label" for="Diplomaline3">3</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="col-sm-1 custom-control-input" id="Diplomaline4" name="LevelOfDiploma" value="4">
            <label class="col-sm-1 custom-control-label" for="Diplomaline4">5</label>
        </div>
        <br>

        <div class="section-title margin-top flex">
            <div class="flex">
                <p class="blu-title bold">TEACHING EXPERIENCE</p>

            </div>
        </div><br>
        <input class=" edit-input-tag short" type="text" asp-for="TeachingExperience1" placeholder="Teaching Experience" id="txtChar" onkeypress="return isNumberKey(event)"><br>
        <input class=" edit-input-tag short" type="text" asp-for="ExperienceInNcsCaps" placeholder="Experience in NCS/CAPS" id="txtChar" onkeypress="return isNumberKey(event)"><br>
        <input class=" edit-input-tag short" type="text" asp-for="SubjectExperience" placeholder="Teaching Subject Experience" id="txtChar" onkeypress="return isNumberKey(event)"><br>
        <input class=" edit-input-tag short" type="text" asp-for="Fetexperience" placeholder="Experience as FET advisor in subject applied for" id="txtChar" onkeypress="return isNumberKey(event)"><br>
        <input asp-for="Year" class="col-sm-2 edit-input-tag " />
        <select asp-for="Subject" class="col-sm-2 edit-input-tag short left" type="text">
            <option value="" disabled selected>Select Subject</option>

            <option value="English ">English</option>
            <option value="Geography">Geography</option>
            <option value="Economics">Economics</option>
            <option value="Business Studies">Business Studies</option>
            <option value="Agricultural Sciences">Agricultural Sciences</option>
            <option value=">Life Sciences">Life Sciences</option>
            <option value="Mathematical Literacy">Mathematical Literacy</option>

        </select>
        <input class=" col-sm-2 edit-input-tag short left" type="text" asp-for="Language" placeholder="Language" id="my-field">


        <select asp-for="Grade" class="col-sm-3 edit-input-tag short left" type="text">
            <option value="" disabled selected>Select Grade</option>

            <option value="Grade 1">Grade 1</option>
            <option value="Grade 2">Grade 2</option>
            <option value="Grade 3">Grade 3</option>
            <option value="Grade 4">Grade 4</option>
            <option value="Grade 5">Grade 5</option>
            <option value="Grade 6">Grade 6</option>
            <option value="Grade 7">Grade 7</option>
            <option value="Grade 9">Grade 9</option>
            <option value="Grade 10">Grade 10</option>
            <option value="Grade 11">Grade 11</option>
            <option value="Grade 12">Grade 12</option>

        </select>
        <input class=" edit-input-tag short" type="text" asp-for="NameofschooIInstitution" placeholder="Name of School/Institution" onkeypress="return onlyAlphabets(event,this);">
        <input class=" edit-input-tag short left" type="text" asp-for="PercentageofLearners" placeholder="Percentage pass of Learners">
        <br>
        <div class="section-title margin-top flex">
            <div class="flex">
                <p class="blu-title bold">MARKING EXPERIENCE</p>

            </div>

        </div>

        <br>
        <input asp-for="MarkingExperienceYear" class="col-sm-3 edit-input-tag " />

        <select class="edit-input-tag short left " id="select2">
            <option>Select Subject</option>
            <option value="English1">English</option>
            <option value="Geography">Geography</option>
            <option value="Economics">Economics</option>
            <option value="Business Studies">Business Studies</option>
            <option value="Agricultural Sciences">Agricultural Sciences</option>
            <option value=">Life Sciences">Life Sciences</option>
            <option value="Mathematical Literacy">Mathematical Literacy</option>
        </select>


        <select asp-for="PositionHeld" class="col-sm-3 edit-input-tag short left" type="text">
            <option value="" disabled selected>Select Position Held</option>
            <option value="Internal Moderator">Internal Moderator</option>
            <option value="Chief Marker">Chief Marker</option>
            <option value="Deputy Chief Marker">Deputy Chief Marker</option>
            <option value="Senior Marker">Senior Marker</option>
            <option value=" Marker">Marker</option>
            <option value=" Marker">Novice Marker</option>
        </select>
        <div class="hide English1 box col" style="padding-top:20px">
            <input type="radio" name="tab" asp-for="Language" value="HL"> HL
            <input type="radio" name="tab" asp-for="Language" value="FAL"> FAL
            <input type="radio" name="tab" asp-for="Language" value="HL"> HL
        </div>
        <br>
        <div class="section-title margin-top flex">
            <div class="flex">
                <p class="blu-title bold">APPLICATION DETAILS</p>

            </div>
        </div>
        <br>
        <select asp-for="Subject" class="col-sm-3 edit-input-tag short" type="text">
            <option value="" disabled selected>Select Subject</option>
            <option value="English First Additional Language">English First Additional Language</option>
            <option value="English Home Language">English Home Language</option>
            <option value="Geography">Geography</option>
            <option value="Economics">Economics</option>
            <option value="Business Studies">Business Studies</option>
            <option value="Agricultural Sciences">Agricultural Sciences</option>
            <option value=">Life Sciences">Life Sciences</option>
            <option value="Mathematical Literacy">Mathematical Literacy</option>

        </select>

        <!--Diploma-->
        <label for="disabledInput" class="col-sm-1 FocusText left "><strong>Language Levels</strong></label>

        HL <input id="Language" asp-for="Language" type="radio" value="HL" />

        FAL <input id="Languag" asp-for="Language" type="radio" value="FAL" />

        SAL <input id="Language" asp-for="Language" type="radio" value="SAL" />

        @*<div class="custom-control custom-radio custom-control-inline left">
                <input type="radio" class=" col-sm-1 custom-control-input" id="Language1" name="Language" value="HL">
                <label class=" col-sm-1 custom-control-label" for="Language1">HL</label>
            </div>

             Default inline 2
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="col-sm-1 custom-control-input" id="Language2" name="Language"value="FAL">
                <label class="col-sm-1 custom-control-label" for="Language2">FAL</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline ">
                <input type="radio" class=" col-sm-1 custom-control-input" id="Language3" name="Language"value="SAL">
                <label class=" col-sm-1 custom-control-label" for="Language3">SAL</label>
            </div>*@

        <select asp-for="Paper" class="  col-sm-2 edit-input-tag short" type="text">
            <option value="" disabled selected>Paper</option>

            <option value="Paper">Paper 1</option>
            <option value="Paper">Paper 2</option>
            <option value="Paper">Paper 3</option>
        </select>

        <br>

        <div class="form-check-inline" style="padding-top:20px">

            <label class="" style="margin-bottom:20px;color:black">
                <strong>
                    if you are applying to mark a literature paper, please name the
                    <br>prescribed works being taught to Grade 12 learners at your school
                </strong>
            </label>
        </div>
        <br>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="Drama" value="Drama">Drama
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="ShortStories" value="ShortStories">Short Stories
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input " name="Novel" value="Novel">Novel
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input " name="Poetry" value="Poetry">Poetry
            </label>
        </div>

        <br>
        <div class="section-title margin-top flex" style="padding-bottom:10px">
            <div class="flex">
                <p class="blu-title bold">LANGUAGE PREFERENCE</p>

            </div>
        </div>
        <br>

        <div class="form-check-inline">

            <label class="" style="color:black">
                Please indicate the language in which you wish to mark

            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="LanguageDescription" value="English">English
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="LanguageDescription" value="Afrikaans">Afrikaans
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input " name="LanguageDescription" value="Both">Both
            </label>
        </div>

        <div class="section-title margin-top flex" style="padding-bottom:15px">
            <div class="flex">
                <p class="blu-title bold">MOTIVATION BY PRINCIPAL/DIRECTOR</p>

            </div>
        </div>
        <br>
        <div class="form-group">

            <input asp-for="MotivationDescription" placeholder="Motivation Description" class="form-control " onkeypress="return onlyAlphabets(event,this);">
            <span asp-validation-for="MotivationDescription" class="text-danger"></span>
        </div>
        <div class="section-title margin-top flex" style="padding-bottom:15px">
            <div class="flex">
                <p class="blu-title bold">DECLARATION BY APPLICANT</p>

            </div>
        </div>
        <br>

        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="Declaration" value="Yes">Declaration
            </label>
        </div>
        <br>
        <div class="form-check-inline">

            <label class="" style="color:black;padding-top:20px">
                <strong>
                    Pass percentage of Grade 12 learners taught by applicat FOR SUBJECT (NOT SCHOOL AVERAGE)
                </strong>
            </label>
        </div>
        <br>
        <input asp-for="YearAvg" class="col-sm-3 edit-input-tag " />
        <input class=" edit-input-tag short left " type="text" asp-for="TaughtByAverage" placeholder="Average by year" id="txtChar" onkeypress="return isNumberKey(event)">
        <br>

        <div class="form-check-inline">

            <label class="" style="color:black;padding-top:20px">
                <strong>
                    Pass percentage of Grade 12 candidates in the district, for subject
                </strong>
            </label>
        </div>
        <br>
        <input asp-for="DistrictYear" class="col-sm-3 edit-input-tag " />
        <input class=" edit-input-tag short left " type="text" asp-for="CandidatesByDistrictPercentage" placeholder="Candidates By District Percentage" id="txtChar" onkeypress="return isNumberKey(event)">

        <div class="form-check-inline">

            <label class="" style="color:black;padding-top:20px">
                <strong>
                    Pass percentage of Grade 12 candidates in the province, for subject
                </strong>
            </label>
        </div>
        <br>
        <input asp-for="PercentageYear" class="col-sm-3 edit-input-tag " />
        <input class=" edit-input-tag short left " type="text" asp-for="ProvincePercentage" placeholder="Taught By Average" id="txtChar" onkeypress="return isNumberKey(event)">
        <br>

        <div class="section-title margin-top flex" style="padding-bottom:10px">
            <div class="flex">
                <p class="blu-title bold">APPLICATIONS COMMITTEE</p>

            </div>
        </div>
        <br>


        <div class="form-check-inline">

            <label class="" style="color:black;padding-top:20px">
                <strong>
                    Checked by subject advisor
                </strong>
            </label>
            Yes <input id="Title" name="Title" type="radio" value="Yes" onclick="show2();" />
            No <input id="Title" name="Title" type="radio" value="No" onclick="show1();" />


        </div>

        <br>
        <div class="form-check-inline hide" id="div2">

            <label class="" style="color:black;padding-top:20px">
                <strong>
                    Reccomended by subject advisor
                </strong>
            </label>
            Yes <input id="Title" name="Title" type="radio" value="Yes" onclick="sho1();" />
            No <input id="Title" name="Title" type="radio" value="No" onclick="sho2();" />



            <div class="form-group hide" id="div3">

                <input asp-for="SelectionReason" placeholder="Selection Reason" class="form-control " onkeypress="return onlyAlphabets(event,this);">
                <span asp-validation-for="SelectionReason" class="text-danger"></span>
            </div>
        </div>
        <br>

        <div class="form-group" style="padding-top:20px">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index">Back to List</a>
        </div>


    </form>
</div>
<SCRIPT language=Javascript>
      <!--
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    //Drowpdown
    $(document).ready(function () {
        $("#select1,#select2").change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue) {
                    $(".box").not("." + optionValue).hide();
                    $("." + optionValue).show();
                } else {
                    $(".box").hide();
                }
            });
        }).change();
    });

    function show2() {
        document.getElementById('div1').style.display = 'block';
    }
   function show1() {
        document.getElementById('div1').style.display = 'none';
    }
   function show2() {
        document.getElementById('div2').style.display = 'block';
    }
   function show1() {
        document.getElementById('div2').style.display = 'none';
    }

      function sho2() {
        document.getElementById('div3').style.display = 'block';
    }
   function sho1() {
        document.getElementById('div3').style.display = 'none';
    }


    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }


</SCRIPT>