@model Markers_GPS_Coordiantes.Data.Marker

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

    <h4>Marker</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="get" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdentityNo" class="control-label"></label>
                    <input asp-for="IdentityNo" class="form-control" />
                    <span asp-validation-for="IdentityNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Initials" class="control-label"></label>
                    <input asp-for="Initials" class="form-control" />
                    <span asp-validation-for="Initials" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Persal" class="control-label"></label>
                    <input asp-for="Persal" class="form-control" />
                    <span asp-validation-for="Persal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaidenName" class="control-label"></label>
                    <input asp-for="MaidenName" class="form-control" />
                    <span asp-validation-for="MaidenName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nationality" class="control-label"></label>
                    <input asp-for="Nationality" class="form-control" />
                    <span asp-validation-for="Nationality" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeletedDate" class="control-label"></label>
                    <input asp-for="DeletedDate" class="form-control" />
                    <span asp-validation-for="DeletedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeletedByUsersId" class="control-label"></label>
                    <input asp-for="DeletedByUsersId" class="form-control" />
                    <span asp-validation-for="DeletedByUsersId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastModifiedByUsersId" class="control-label"></label>
                    <input asp-for="LastModifiedByUsersId" class="form-control" />
                    <span asp-validation-for="LastModifiedByUsersId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedByUsersId" class="control-label"></label>
                    <input asp-for="CreatedByUsersId" class="form-control" />
                    <span asp-validation-for="CreatedByUsersId" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

